@import 'tailwindcss';

/* some minorly useful defaults for us */

@theme {
    --font-sans: "-apple-system",
        "BlinkMacSystemFont",
        "Segoe UI",
        "Roboto",
        "Oxygen-Sans",
        "Ubuntu",
        "Cantarell",
        "Helvetica Neue",
        "sans-serif";
}

@layer base {
    /* this was default in Tailwind v3, but after v4 we specify it explicitly to stay compatible */
    *, ::before, ::after {
        @apply border-gray-200;
    }

    body {
        @apply text-zinc-800;
        text-rendering: optimizeLegibility;
    }

    p {
        @apply mb-6 mt-4 leading-relaxed;
    }

    a {
        @apply text-sky-500;
    }

    a:hover {
        @apply text-amber-500 border-solid border-b border-current;
    }

    h1 {
        @apply sm:text-4xl font-semibold mb-4 text-2xl;
    }

    h2 {
        @apply text-3xl font-semibold mb-4;
    }

    h3 {
        @apply text-2xl font-semibold mb-4;
    }

    h4 {
        @apply font-semibold text-lg mb-4;
    }
}