---
title: Human Hacking
videoId: h0La-659g8Q
date: 2020-04-22
dateDisplay: Spring 2020
series: Workshop
venue: ACM Cyber
duration: '1:46:45'
---

The most vulnerable component of any computer is YOU!
We talk about social engineering and other way that traditional security measures are trivially bypassed.
