---
title: 3DS Hacking
videoId: I97Px1hhveU
date: 2021-11-10
dateDisplay: Fall 2021
series: Workshop
venue: ACM Cyber
duration: '1:17:11'
---

A deep dive look at the hardware and software security of the Nintendo 3DS.