---
title: Hardware Hacking
videoId: Z-yNSmHl9N0
date: 2020-04-29
dateDisplay: Spring 2020
series: Workshop
venue: ACM Cyber
duration: '1:43:06'
---

A rambling talk that is less about how to hack hardware and more about hardware used for hacking. 
